/*h4 {
  margin-top: 25px;
}*/
/*Chrome ubrat obvotka*/
input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; }
.tariffs{
    text-align: left;
}
.tariffs .titem{
    margin-bottom: 10px;
    cursor: pointer;
}
.tariffs input[type="checkbox"],
.tariffs input[type="radio"]{
    width: 20px;
}
.tariffs > div{
    line-height: 40px;
    height: 40px;
}
.tariffs .tinput{
    color: #0771a2;
    font-size: 14px;
    font-weight: bold;
    width: 30%;
    float: left;
}
.tariffs .tprice{
    background: #73ae2c;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}

.tariffs .toldprice{
    color: #b2b2b2;
    font-size: 20px;
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
    width: 30%;
    float: left;
    text-align: center;
}

.tariffs .black .tprice{
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .red .tprice{
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .green .tprice{
    background: green;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .fiolet .tprice{
    background: violet;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .blue .tprice{
    background: blue;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .white .tprice{
    background: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}
.tariffs .yellow .tprice{
    background: yellow;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    float: left;
    text-align: center;
}

.tariffs  h3{
    color: #000000!important;
}

.w50p{
    float: left;
    width: 50%;
}
.red-close {
    background: url("../img/modal_close.png") no-repeat;
    float: right;
    margin-top: 10px;
    position: relative;
    margin-right: 10px;
    height: 13px;
    width: 13px;
    z-index: 2;
    cursor: pointer;
    text-indent: -9999px;
}
.content{
    margin-top: 40px;
}
.main-content{
    width: 714px;
    float: left;
}
.rightbar{
    float: right;
    width: 218px;
}
.select-inner{
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    margin-left: -10px;
    border-radius: 5px;
    display: none;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
}
.type-select > span{
    display: block;
    margin-right: -10px;
    z-index: 1;
    position: relative;
}
.select-inner > div{
    padding: 0 10px;
    border-bottom: #efefef solid 1px;
}
.select-inner > div:last-child{
    border-bottom: #efefef solid 0px;
}
/*Inputs*/
.type-input,
input[type="text"],
input[type="password"],
/*input[type="checkbox"],
input[type="radio"],*/
textarea,
select{
    background: #ffffff;
    font-size: 14px;
    color: #5f5e5e;
    padding: 0px 10px;
    border: #f3f3f3 1px solid;
    height: 30px;
    line-height: 28px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
    -webkit-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -moz-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -o-box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
}
.type-select{
    cursor: pointer;
}
.type-select:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #73ae2c;
    position: absolute;
    right: 10px;
    top: 9px;
}
/**Buttons*/
.button{
    border: none;
    display: inline-block;
    border-radius: 6px;

}
.button-bg-blue {
    border-radius: 10px;
    text-shadow: #065d85 1px 1px 2px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    line-height: 100px;
    text-decoration: none;
    border-bottom: #06547a solid;
    border-bottom-width: 8px;
    width:300px;
    height:100px;
    background-color:#0682ba;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0682ba, endColorstr=#067bb0);
    background-image:-moz-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-webkit-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-o-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-ms-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#0682ba), color-stop(50%,#067bb0),color-stop(100%,#0771a3));
}
.button-blue {
    text-shadow: #065d85 1px 1px 2px;
    font-size: 16px;
    padding: 0 17px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
    text-decoration: none;
    border-bottom: #06547a solid;
    border-bottom-width: 4px;
    /*width:300px;*/
    height:37px;
    background-color:#0682ba;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0682ba, endColorstr=#067bb0);
    background-image:-moz-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-webkit-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-o-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-ms-linear-gradient(top, #0682ba 0%, #067bb0 50%,#0771a3 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#0682ba), color-stop(50%,#067bb0),color-stop(100%,#0771a3));
}
.button-bg-blue:hover,
.button-bg-blue:active,
.button-blue:hover,
.button-blue:active{
    color: #ffffff;
    text-decoration: none;
}
/**Green*/
.button-bg-green{
    border-radius: 10px;
    text-shadow: #5f9024 1px 1px 2px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    line-height: 100px;
    text-decoration: none;
    border-bottom: #578322 solid;
    border-bottom-width: 8px;
    width:300px;
    height:100px;
    background-color:#91dc37;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91dc37, endColorstr=#83c632);
    background-image:-moz-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-webkit-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-o-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-ms-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#91dc37), color-stop(50%,#83c632),color-stop(100%,#73ae2c));
}
.button-green{
    text-shadow: #5f9024 1px 1px 2px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 0 17px;
    line-height: 35px;
    text-decoration: none;
    border-bottom: #578322 solid;
    border-bottom-width: 4px;
    /*width:300px;*/
    height:37px;
    background-color:#91dc37;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91dc37, endColorstr=#83c632);
    background-image:-moz-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-webkit-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-o-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-ms-linear-gradient(top, #91dc37 0%, #83c632 50%,#73ae2c 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#91dc37), color-stop(50%,#83c632),color-stop(100%,#73ae2c));
}
.button-bg-green:hover,
.button-bg-green:active,
.button-green:hover,
.button-green:active{
    color: #ffffff;
    text-decoration: none;
}

/**Grey*/
.button-bg-grey{
    border-radius: 10px;
    text-shadow: #9e9e9e 1px 1px 2px;
    font-size: 40px;
    text-align: center;
    color: #212121;
    line-height: 100px;
    text-decoration: none;
    border-bottom: #d9d9d9 solid;
    border-bottom-width: 8px;
    width:300px;
    height:100px;
    background-color:#ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f8f8f8);
    background-image:-moz-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-o-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-ms-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8),color-stop(100%,#efefef));
}
.button-grey{
    text-shadow: #9e9e9e 1px 1px 2px;
    font-size: 16px;
    text-align: center;
    color: #212121;
    line-height: 35px;
    padding: 0 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #d9d9d9 solid;
    border-bottom-width: 4px;
    /*width:300px;*/
    height:37px;
    background-color:#ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f8f8f8);
    background-image:-moz-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-o-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-ms-linear-gradient(top, #ffffff 0%, #f8f8f8 50%,#efefef 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f8f8f8),color-stop(100%,#efefef));
}
.button-bg-grey:hover,
.button-bg-grey:active,
.button-grey:hover,
.button-grey:active{
    color: #000000;
    text-decoration: none;
}
.sell-form{
    position: relative;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 465px;
}
.sell-form input,
select{
    width: 178px;
}
.sell-form .param-title {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 14px;
}

.sell-form #status .file{
    position: relative;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sell-form #status .file .deletePhoto{
    background: #000;
    position: absolute;
    display: block;
    height: 20px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    display: none;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
    z-index: 2;
}
.sell-form #status .file:hover .deletePhoto{
    display: block!important;
}