.header .top-menu{
}
.header .top-menu ul,
.header .top-menu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .top-menu ul li{
    float: left;
    height: 60px;
    line-height: 57px;
    position: relative;
}
.header .top-menu ul li a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    display: block;
    height: 57px;
    border-bottom: #06547a solid 3px;
    padding: 0 20px;
    line-height: 57px;
}
.header .top-menu ul li .top-menu-sep{
     border-left: #06547a solid 1px;
     position: absolute;
     top: 10px;
     bottom: 10px;
     left: 0px;
}
.header .top-menu ul li.active .top-menu-sep,
.header .top-menu ul li:hover .top-menu-sep{
    display: none;
}
.header .top-menu ul li.active a,
.header .top-menu ul li a:hover{
    background: #0682ba;
    border-bottom: #086796 solid 3px;
}

/***/
.footer .footer-menu{
    padding: 48px 0 36px 0;
    border-bottom: #043750 solid 1px;
    margin-bottom: 28px;
}
.footer .footer-menu ul,
.footer .footer-menu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-menu ul li{
    float: left;
    position: relative;
}
.footer .footer-menu ul li a{
    color: #efefef;
    font-size: 14px;
    text-decoration: none;
    margin-right: 40px;
}
.footer .footer-menu ul li a:hover{
    font-weight: bold;
}

