/*@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 980px;
    font-family: 'PT Sans', sans-serif;
}
.clear{
    clear: both;
}
.yellow{
    color: #f8b427;
}
.white{
    color: #ffffff;
}
.red{
    color: #ff5300;
}
.container2 {
    padding: 0;
    margin: 0 auto;
    width: 962px;
}
/*Header*/
.header{
    background: #f9f9f9;
}
.header .top-header{
    background: #0771a2;
    border-bottom: #06547a solid 3px;
    height: 57px;
}
.header .top-user-block{
    margin: 10px 0;
    float: right;
}
.header .top-user-block .user-avatar{
    background: #06547a;
    height: 40px;
    width: 40px;
    border-radius: 50% 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.header .top-user-block .user-info{
    float: right;
    margin-left: 10px;
}
.header .top-user-block .user-info {
    color: #ffffff;
    font-size: 14px;
    width: 180px;
}
.header .top-user-block .user-info a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    border-bottom: dotted 1px #ffffff;
    font-weight: bold;
}
/**Logo*/
.header .bottom-header {
    padding: 35px 0;
}
.header .logo{
    float: left;
    margin-right: -15px;
}
.header .logo a{
    font-size: 31px;
    color: #212121;
    text-decoration: none;
}
.logo_color_2{
    color: #5f5e5e;
}
.logo_slogan{
    font-size: 14px;
    color: #979797;
}
.header .header-infos{
    float: right;
    margin-top: 10px;
}
.header .hinfo{
    float: left;
    margin-left: 30px;
    position: relative;
    font-weight: bold;
    color: #0771a2;
    font-size: 14px;
}
.header .hinfo .circled{
    background-color: #efefef;
    background-position: center center;
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
    border-radius: 50% 50%;
    display: table-cell;
    margin-right: 10px;
}
.header .hinfo a{
    color: #0771a2;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 10px;
    display: block;
    margin-top: 5px;
}
.header .hinfo a:hover{
    text-decoration: none;
}
.header .hinfo a.active{
    text-decoration: underline;
}
.header .hinfo .phone_numed{
    margin-top: 10px;
    margin-left: 10px;
}
.header .hinfo .phone_big_num{
    font-size: 20px;
}
/***/
.sell_buy{
    background-image: url("../img/sell_buy.png");
}
.oformit_realty{
    background-image: url("../img/oformit_realty.png");
}
.phone_num{
    background-image: url("../img/phone_num.png");
}
/**Footer*/
.footer{
    background: #05415e;
}
.footer .footer-info{
    font-size: 14px;
    color: #efefef;
    padding-bottom: 40px;
}
.footer .copyright{
    float: left;
}
.footer .socials{
    float: right;
}
.footer .socials .soc{
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
    /*background-color: #0771a2;*/
    height: 30px;
    width: 31px;
    float: left;
    margin-left: 10px;
    border-radius: 4px;
}
.footer .socials .soc:hover{
    /*background-color: #73ae2c;*/
    background-position: bottom center;
}
.footer .socials .vk{
    background-image: url("../img/vk.png");
}
.footer .socials .tw{
    background-image: url("../img/tw.png");
}
.footer .socials .ok{
    background-image: url("../img/ok.png");
}
.footer .socials .fb{
    background-image: url("../img/fb.png");
}
/**Sell buy block*/
.sell-buy-block{
    background: url("../img/big_img.jpg") repeat-x center bottom;
    height: 460px;
}

.btn-buy{
    height: 74px;
    width: 300px;
    border-bottom-width: 8px;
}
.sb-buttons{
    padding-top: 70px;
    text-align: center;
}
.sb-buttons .sp-info{
    text-shadow: #282421 1px 1px 2px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 30px;
    line-height: 28px;
}
.sb-buttons .sp-num{
    text-shadow: #282421 1px 1px 3px;
    font-size: 40px;
}
.find-block{
    background: #efefef;
    height: 100px;
    margin-top: 70px;
    border-radius: 10px;
    padding: 30px 50px;
}
.find-block .find-input{
    background: #ffffff;
    font-size: 14px;
    color: #5f5e5e;
    padding: 0px 10px;
    border: #f3f3f3 1px solid;
    height: 40px;
    width: 690px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
    -webkit-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -moz-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -o-box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
}
.find-block .find-button{
    position: absolute;
    margin-left: -45px;
    height: 40px;
    width: 40px;
    border: none;
    background: url("../img/find-button.png") no-repeat center center;
}
/**Pagination*/
.paginat{
    text-align: center;
    margin-bottom: 40px;
}
.paginat .yiiPager{
    text-align: center;
    margin-bottom: 40px;
}
.paginat li {

    margin-right: 10px;
    border: none!important;
}
.paginat li.previous a,
.paginat li.next a{
    text-decoration: underline;
    color: #5f5e5e;
    border: none!important;
    font-weight: normal;
}
.paginat li.page{
    border: none!important;
    display: inline-block;
    height: 31px;
    width: 31px;
}

.paginat li a{
    color: #5f5e5e;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;


}
.paginat li.page a{
    text-decoration: none;
    display: block;
    height: 31px;
    margin: 0;
    padding: 0;
    width: 31px;
    color: #5f5e5e;
    font-size: 14px;
    line-height: 31px;
    text-align: center;
    border: #f0f0f0 solid 1px;
    border-radius: 50%;
}
.paginat li.page.selected a{
    border: none;
    background: none;
    text-decoration: none;
}
.paginat li.page:hover a ,
.paginat li.page.selected a {
    background: #0771a2;
    border: #0771a2 solid 1px;
    color: #ffffff;
}


.corner-blue{
    border-top: #0771a2 solid 2px;
    position: relative;
}
.corner-blue:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #0771a2;
    position: absolute;
    left: 47%;
    top: -14px;
}
.corner-white{
    border-top: #ffffff solid 2px;
    position: relative;
}
.corner-white:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    left: 47%;
    top: -14px;
}

/*Items*/
.ritems{
    margin-left: -30px;
}
.ritems .item{
    width: 218px;
    float: left;
    margin-left: 30px;
    margin-bottom: 40px;
}
.ritems .item .img{
    position: relative;
}
.ritems .item .img img{
    width: 100%;
}
.ritems .item .item-info{
    border: #efefef solid 1px;
    border-top: none;
    padding: 18px 0;
}
.ritems .item .item-params .item-param{
    padding: 0 10px;
    border-bottom: dotted #efefef 1px;
}
.ritems .item .item-price{
    padding: 20px 0 0 0 ;
    color: #0771a2;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.ritems .item .item-price span{
    font-size: 14px;
}
.ritems .item .hovered{
    display: none;
}

.ritems .item .hovered .blue-bg{
    background: #0771a2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* IE 5-7 */
    filter: alpha(opacity=60);
    /* Netscape */
    -moz-opacity: 0.6;
    /* Safari 1.x */
    -khtml-opacity: 0.6;
    /* Good browsers */
    opacity: 0.5;

    z-index: 2;
}
.ritems .item .hovered .item-link{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    margin-top: -19px;
    margin-left: -59px;
    z-index: 3;
}
/**ITEM VIP*/

.ritems .item.vip .item-info{
    border: #578322 solid 1px;
    border-top: none;
    background: #73ae2c;
    color: #ffffff;
}
.ritems .item.vip .item-price{
    color: #ffffff;
}
.ritems .item.vip .corner-blue{
    border-top: #ffffff solid 2px;
}
.ritems .item.vip .corner-blue:after{
    border-bottom: 12px solid #ffffff;
}
.ritems .item.vip .stick-vip{
    background: url("../img/vip.png") no-repeat;
    height: 81px;
    width: 81px;
    position: absolute;
    z-index: 1;
}

/**hovered*/
.ritems .item:hover .hovered{
    display: block;
}
.ritems .item:hover.vip .corner-blue{
    border-top: #0771a2 solid 2px!important;
}
.ritems .item:hover.vip .corner-blue:after{
    border-bottom: 12px solid #0771a2!important;
}
.ritems .item:hover .item-info{
    border: #0771a2 solid 1px;
    border-top: none;

}

/**Blocks*/
.rightbar .blocks{
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Google Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    -o-border-radius: 10px; /* Opera */
    -ms-border-radius: 10px; /* IE8 */
    -icab-border-radius: 10px; /* Icab */
    border-radius: 10px; /* CSS3 */
    /*behavior: url("htc.php"); *//* IE */

    margin-bottom:40px;
    overflow: hidden;
}
.rightbar .blocks .b-title{
    font-size: 24px;
    font-weight: bold;
    color: #212121;
    text-align: center;
    margin-bottom: 16px;
}
.rightbar .blocks .param-title{
    font-size: 18px;
    font-weight: bold;
    color: #212121;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 14px;
}
.rightbar .blocks .splitter{
    border-bottom: #d9d9d9 solid 1px;
    padding: 0 20px;
    margin-bottom: 10px;
}
.rightbar .banner .img img{
    width: 100%;
}
.rightbar .banner .banner-text .banner-title{
    font-size: 24px;
    font-weight: bold;
}
.rightbar .banner .banner-text{
    background: #0771a2;
    padding: 25px 5px 30px 5px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.rightbar .filtr{
    background: #efefef;
    padding: 20px 0;
}
.rightbar .filtr .splitter .type-input{
    margin-bottom: 16px;
    position: relative;
}
.rightbar .filtr .splitter input[type="text"]{
    width: 80px;
    margin-bottom: 16px;
}
.ui-slider{
    margin-left: 9px;
    margin-right: 7px;
    margin-bottom: 18px;
    height: 13px;
    border: #f3f3f3 1px solid;
    box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
    -webkit-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -moz-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -o-box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
}
.rightbar .filtr-submit-button{
    text-align: center;
}
.ui-widget-header{
    background: #73ae2c;
}
.ui-slider-handle{
    border-radius: 50% 50%!important;
}
.ui-slider-horizontal .ui-slider-range {
    top: 1px;
    height: auto;
    bottom: 1px;
}
.range-metter{
    background: url("../img/range-metter.png") no-repeat center top;
    height: 15px;
}
.button-sell .button {
    border-bottom-width: 6px;
    height: 55px;
    font-size: 26px;
    text-align: center;
    color: #ffffff;
    line-height: 55px;
    width: 100%;
}
.sorter ul, li{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.sorter{
    background: #efefef;
    border-radius: 10px;
    min-height: 40px;
    margin-bottom: 30px;
    padding: 0 20px;
    line-height: 40px;
    margin-left: 30px;
}
.sorter a{
    color: #5f5e5e;
    border-bottom: dotted 1px #5f5e5e;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 15px;
}
.sorter a.sort_price{
    background: url("../img/sort-price.png") no-repeat left center;
}
.sorter a.sort_ploshad{
    background: url("../img/sort-ploshad.png") no-repeat left center;
}
.sorter a.asc,
.sorter a.desc
{
    color: #0771a2;
    border-bottom: none;
}
/**MAP BLOCK*/
.map-block{
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
}
.map-block .map{
    /*background: url("../img/map.png") repeat-x top center;*/
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: 1;
}
.map-block .map-pm{
    position: absolute;
    height: 18px;
    width: 196px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    cursor: pointer;
}
.map-block.opened{
    height: 700px;
}
.map-block.closed{
    height: 160px;
}
.map-block.opened .map-pm{
    background: url("../img/map_pm.png") no-repeat;
}
.map-block.closed .map-pm{
    background: url("../img/map_pm.png") no-repeat bottom;
}
.map-block .container2{
    position: relative;
    z-index: 2;
}
.map-block .rightbar{
    margin-top: 50px;
}

/***/
.recommend-block{
    background: #f9f9f9;
    padding: 40px 0;
}
.recommend-block .r-title{
    text-align: center;
    color: #212121;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
    height: 23px;
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight{
    height: 23px;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    height: 23px;
}
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger{

    height: 23px;
    width: 23px;
}
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    background: url("../img/scroll-circle.png") no-repeat;
    height: 23px;
    width: 23px;
    margin: 0;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail{
    background: #ffffff !important;
    margin: 5px 0;
    height: 13px;
    border: #f3f3f3 1px solid;
    box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
    -webkit-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -moz-box-shadow: inset 0px 0px 5px 0px #999, 0px 0px 1px 0px #f8f8f8;
    -o-box-shadow: inset 0px 0px 5px 0px #999,0px 0px 1px 0px #f8f8f8;
}

.iteminfo-block{
    background: #f9f9f9;
    margin-top: 50px;
    margin-bottom: -20px;
}
.iteminfo-block .main-content{
    height: 380px;
    width: 714px;
    overflow: hidden;
}
.iteminfo-block .main-content img{
    width: 100%;
}
.iteminfo-block .item-params{
    margin-top: 35px;
}
.iteminfo-block .item-params .item-param{
    border-bottom: dotted #e7e7e7 1px;
    color: #5f5e5e;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 16px;
}
.iteminfo-block .item-price{
    background: #73ae2c;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.item-phone{
    background: url("../img/phone-down.png") no-repeat center bottom;
    margin-top: 18px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    text-align: center;
}
.item-phone .isphone {
    color: #0771a2;
    font-size: 18px;
    font-weight: bold;
}
.item-phone .wantknowphone{
    color: #6c6c6c;
    font-size: 14px;
}
.item-photos{
    margin-left: -31px;
}
.item-photos .iphoto{
    float: left;
    margin-left: 31px;
    width: 155px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.item-photos .iphoto a{
    display: block;
    position: relative;
    border: solid 1px #ffffff;
    overflow: hidden;
}
.item-photos .iphoto a .blue-bg {
    display: none;
    background: #0771a2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;


    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* IE 5-7 */
    filter: alpha(opacity=60);
    /* Netscape */
    -moz-opacity: 0.6;
    /* Safari 1.x */
    -khtml-opacity: 0.6;
    /* Good browsers */
    opacity: 0.5;

    z-index: 2;
}

.item-photos .iphoto a.active,
.item-photos .iphoto a.current,
.item-photos .iphoto a:hover{
    border: solid 1px #0771a2;
}
.item-photos .iphoto a.active .blue-bg,
.item-photos .iphoto a.current .blue-bg,
.item-photos .iphoto a:hover .blue-bg{
    display: block;
}